#chart-container {
  background-color: #CCCCCC;
}
.chart {
  background-color: #C7C2E0;
  .axis {
  	font-size: 0.75em;
  }
}

.highlight {
  background-color: #dd9;
}

#candle-graph {
	height: 210px;
}
#indicator-graph {
	height: 60px;
}
#volume-graph {
	height: 60px;
}

.price-up {
	stroke: #44F;
}
.price-down {
	stroke: #F44;
  color: #F44
}
.plot-background rect {
	fill: #FFF;
}
rect.candle-box {
  fill: #BBF;
  opacity: 0.6;
}
rect.volume-bar, rect.macd-bar {
	stroke: #88F;
	fill: #88F;
}
rect.candle-box.down, rect.volume-bar.down, rect.macd-bar.down {
  stroke: #F88;
}
rect.volume-bar.down, rect.macd-bar.down {
	fill: #F88;
}

.candle {
	stroke-width: 1px;
}
.candle.hit {
	stroke-width: 2px;
}

.candle-body {
	fill: none;
}
.candle-body:hover {
	fill: #999;
}

rect { fill: #fff; }

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; 
}
circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; 
}
circle.selected {
  fill: #ff7f0e;
  stroke: #ff7f0e; 
}
circle:hover {
  fill: #ff7f0e;
  stroke: #707f0e; 
}
circle.selected:hover {
  fill: #ff7f0e;
  stroke: #ff7f0e; 
}

.signal.buy {
	fill: #8f8;
	stroke: #0A0;
}

.chart-line {
  stroke-width: 1;
  opacity: 0.6;
  fill: none;
  shape-rendering: crispEdges;
  &.bolMA {
    stroke: #4AA;
    // fill: #d00;
  }
  &.bolUP, &.bolLO {
    stroke: #880;
  }
}
.chart-line.sma10 {
  stroke: #088;
}
.chart-line.sma20 {
  stroke: #808;
}
.chart-line.sma50 {
  stroke: #880;
}

.chart-line.macd {
  stroke: #088;
}
.chart-line.macds {
  stroke: #800;
}
