
.chart {
  background-color: #B7B295;
  .axis {
  	font-size: 0.75em;
  }
}

#candle-graph {
	height: 210px;
}
#indicator-graph {
	height: 60px;
}
#volume-graph {
	height: 60px;
}

.price-up {
	stroke: #44F;
}
.price-down {
	stroke: #F44;
}
.plot-background rect {
	fill: #FFF;
}
rect.candle-box {
  fill: #BBF;
  opacity: 0.6;
}
rect.volume-bar {
	stroke: #88F;
	fill: #88F;
}
rect.candle-box.down, rect.volume-bar.down {
  stroke: #F88;
}
rect.volume-bar.down {
	fill: #F88;
}

.candle {
	stroke-width: 1px;
}
.candle.hit {
	stroke-width: 2px;
}
	
.candle-body {
	fill: none;
}
.candle-body:hover {
	fill: #999;
}

rect { fill: #fff; }

circle, .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; 
}
circle {
  fill: white;
  fill-opacity: 0.2;
  cursor: move; 
}
circle.selected {
  fill: #ff7f0e;
  stroke: #ff7f0e; 
}
circle:hover {
  fill: #ff7f0e;
  stroke: #707f0e; 
}
circle.selected:hover {
  fill: #ff7f0e;
  stroke: #ff7f0e; 
}