

#news-container {
	margin : 10px 20px;
}

.stock-ref {
	cursor: pointer;
}

.stock-ref:hover {
	color: #AFF;
}

.rtq_chart_png {
        width: 160px;
        height: 80px;
        padding: 5px;
}

.rtq_daily_chart {
        width: 160px;
        height: 80px;
        padding-bottom: 5px;
}

.rtq-tip-wrapper, .rtq-tip-wrapper div {
        font-size: 11px;
        line-height: 13px;
        width: 100%;
        padding-top: 3px;
}
.rtq-code, .rtq-price {
        float: left;
        font-weight: bold;
}
.rtq-time, .rtq-change {
        float: right;
}
.rtq-name {
        font-size: 13px;
}
